---
import Layout from "@layout/Layout.astro";
import Counter from "@components/ui/counter";
import AddToCartButton from "@components/ui/add-to-cart";
import FbBrandIcon from "@assets/svg/brand-facebook.svg";
import XBrandIcon from "@assets/svg/brand-x.svg";
import { FB_SHARE_URI, X_SHARE_URI } from "@constants";
import { mock } from "@mock.ts";
import RelatedProducts from "@components/related-products.astro";
const { id } = Astro.params;

const product = mock.find((prod) => prod._id === id);

if (!product) return Astro.redirect("/");
---

<Layout pageName={`${product.name} - Comprar`}>
  <section class="flex flex-col items-center text-brand-1">
    <div
      class="flex flex-col items-center md:items-start md:flex-row gap-2 p-3"
    >
      <img
        src={`/products/${product.assetPath}`}
        alt={product.name}
        loading="lazy"
        transition:name={`image-product-${product._id}`}
        class="rounded aspect-square object-cover max-w-full md:max-w-[380px]"
      />
      <div
        class="flex flex-col md:items-start items-center gap-5 font-brand-secondary"
      >
        <h3 class="text-3xl" transition:name={`name-product-${product._id}`}>
          {product.name}
        </h3>

        <strong class="text-xl">
          ${product.price}
        </strong>

        <Counter client:only="react" prodId={product._id} />

        <AddToCartButton client:only="react" product={product} />

        <small>{product.size}</small>

        <small>{product.brightness}</small>

        <p>{product.description}</p>

        <ul class="flex items-center justify-center gap-4 w-full">
          <li>
            <a
              href={`${FB_SHARE_URI}${Astro.url}`}
              target="_blank"
              title="Compartir en Facebook!"
              aria-label="Compartir en Facebook!"
              rel="noopener noreferrer"
              class="flex items-center gap-1 px-4 py-2 rounded-md transition-colors hover:text-white hover:bg-brand-1"
            >
              <FbBrandIcon /><span class="md:block hidden"> Compartir</span>
            </a>
          </li>
          <li>
            <a
              href={`${X_SHARE_URI}${Astro.url}`}
              target="_blank"
              rel="noopener noreferrer"
              title="Compartir en X!"
              aria-label="Compartir en X!"
              class="flex items-center gap-1 px-4 py-2 rounded-md transition-colors hover:text-white hover:bg-brand-1"
            >
              <XBrandIcon />
              <span class="md:block hidden">Compartir</span>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <RelatedProducts prodId={product._id} />
  </section>
</Layout>
