---
import Layout from "@layout/Layout.astro";
import Counter from "@components/ui/counter";
import AddToCartButton from "@components/ui/add-to-cart";
import { mock } from "@mock.ts";
const { id } = Astro.params;

const product = mock.find((prod) => prod._id === id);

if (!product) return Astro.redirect("/");
---

<Layout pageName={`${product.name} - Comprar`}>
  <section class="flex text-brand-1">
    <div class="flex flex-row gap-2 p-3">
      <img
        src={`/products/${product.assetPath}`}
        alt={product.name}
        loading="lazy"
        transition:name={`image-product-${product._id}`}
        class="max-h-[450px] h-full rounded"
      />
      <div class="w-full">
        <h3 class="text-3xl" transition:name={`name-product-${product._id}`}>
          {product.name}
        </h3>

        <strong>
          ${product.price}
        </strong>

        <Counter prodId={product._id} client:only="react" />

        <AddToCartButton client:only="react" product={product} />
      </div>
    </div>
  </section>
</Layout>
